.content3-item {
    margin-bottom: 20px;
}

.content3-item_link {
    display: block;
    overflow: hidden;
    position: relative;
}

.content3-item_link:hover .content3-details{
    color: yellow;
    bottom: 0;
}

.content3-img {
    width: 100%;
    height: 250px;
}

.content3-details {
    position: absolute;
    bottom: -13%;
    left: 0;
    right: 0;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px;
    color: #fff;
    font-size: 14px;
    transition: all 0.4s ease;
}

.content3-title {
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.content3-destination {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 15px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.intro-blog {
     overflow: hidden;
     display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 6;
 }  