<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/Css/index.css">
    <link rel="stylesheet" href="/Css/about-us.css">
    <link rel="stylesheet" href="/Css/base.css">
    <link rel="stylesheet" href="/Css/detailhotel.css">
    <link rel="stylesheet" href="/Css/style.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="jquery.counterup.min.js"></script>
    <script src="/JS/slide.js"></script>
    <title>MyTour.vn</title>
</head>
<body>
       <div class="container-fuild"><!--Chạy Slide ảnh-->
            <div style="width: 100%;">
                <div class="container-fuild" style="width: 100%;left: 0;right: 0">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">       
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="../image/anh-bien-beach-9.jpg" style="width: 100%; height: 650px;" class="contact-img">
                        <div class='carousel-caption contact-caption-edit' style="margin-bottom: 10px;">
                          <h1 style='font-size:60px;color: white;' class="contact-title"><b>VỀ CHÚNG TÔI</b></h1></div>
                      </div>
                    </div> 
                  </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 70px;padding-bottom: 50px;">
          <div class="row">
            <div class="col-md-6">
              <img src="../image/da-nang-co-them-truong-dai-hoc-chuyen-dao-tao-cntt-truyen-thong.jpg" style="width: 100%">
            </div>
            <div class="col-md-6 text-center about-us-title">
             <h1 style="font-size: 25px;"><b>CHÚNG TÔI</b></h1><br>
             <p>Ra đời từ trong những ước mơ, hoài bão ươm mầm ở ngôi trường Đại học VKU: Từ những người không thân thiết quen biết, chúng tôi gặp gỡ và cùng nhau bắt tay xây dựng nên một website với mong muốn đẩy mạnh ngành dịch vụ khách sạn và tạo sự yên tâm, tin tưởng của khách hàng khi lựa chọn phòng lưu trú.</p><br>
             <p><b>MyTour.vn</b> là một dự án nhỏ cho một môn học (Chuyên đề 2). Tuy nhiên, chúng tôi luôn ước mơ và nỗ lực để nó hoàn toàn có thể là một sản phẩm chỉnh chu và uy tín cho mọi người.</p><br>
             <p><i><b>Cảm ơn tất cả những người trong đội ngũ thiết kế đã góp phần tạo nên thành công của MyTour.vn</b></i></p>
            </div>
          </div>
          
        </div>
            <div class="container homepage-about-us">
              <h1 style="text-align: center;padding: 50px;"><b>Tại sao nên đặt phòng tại MyTour.vn?</b></h1>
              <div class="row about-features" style="padding-bottom: 60px;">
                  <div class="col-md-4 text-center">
                      <img src="/image/1494407528373-a0e2c450b5cfac244d687d6fa8f5dd98.png">
                  </div>
                  <div class="col-md-8">
                      <h3><b>Giá rẻ mỗi ngày với ưu đãi đặc biệt dành riêng cho khách hàng thân thiết</b></h3>
                      <p>Đặt phòng qua ứng dụng để nhận giá tốt nhất với các khuyến mãi tuyệt vời!</p>
                  </div>
              </div>
              <div class="row about-features" style="padding-bottom: 60px;">
                  <div class="col-md-8">
                      <h3><b>Phương thức thanh toán an toàn và linh hoạt</b></h3>
                      <p>Giao dịch trực tuyến an toàn với nhiều lựa chọn như thanh toán tại cửa hàng tiện lợi, chuyển khoản ngân hàng, thẻ tín dụng đến Internet Banking. Không tính phí giao dịch.</p>
                  </div>
                  <div class="col-md-4 text-center">
                      <img src="/image/1494407536280-ddcb70cab4907fa78468540ba722d25b.png">
                  </div>
              </div>
              <div class="row about-features" style="padding-bottom: 60px;">
                  <div class="col-md-4 text-center">
                      <img src="/image/1494407541562-61b4438f5439c253d872e70dd7633791.png">
                  </div>
                  <div class="col-md-8">
                      <h3><b>Hỗ trợ khách hàng 24/7</b></h3>
                      <p>Đội ngũ nhân viên hỗ trợ khách hàng luôn sẵn sàng giúp đỡ bạn trong từng bước của quá trình đặt vé</p>
                  </div>
              </div>
              <div class="row about-features" style="padding-bottom: 60px;">
                  <div class="col-md-8">
                      <h3><b>Khách thực, đánh giá thực</b></h3>
                      <p>Hơn 10.000.000 đánh giá, bình chọn đã được xác thực từ du khách sẽ giúp bạn đưa ra lựa chọn đúng đắn.</p>
                  </div>
                  <div class="col-md-4 text-center">
                      <img src="../image/1494407562736-ea624be44aec195feffac615d37ab492.png">
                  </div>
            </div>
		    </div>
        <div class="container-fluid parallax">
            <div class="us" style="background: rgba(0,0,0,0.8);color: white;display: flex; align-items: center;justify-content: center;text-align: center;">
              <div class="container counter_wrap">
                <h1 style="padding-bottom: 50px;"><b>THÀNH TỰU THU ĐƯỢC</b></h1>
                  <div class="row">
                      <div class="col-lg-3 col-md-3" style="border-right: 2px solid white">
                            <div class="single_counter text-center">
                                <h2 class="counter" style="font-size: 72px;"><%= @hotels %></h2>
                                <p>Khách sạn đối tác</p>
                            </div>
                      </div>
                      <div class="col-lg-3 col-md-3" style="border-right: 2px solid white">
                           <div class="single_counter text-center">
                                <h2 class="counter" style="font-size: 72px;"><%= @users %></h2>
                                <p>Khách hàng</p>
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-3" style="border-right: 2px solid white">
                           <div class="single_counter text-center">
                                 <h2 class="counter" style="font-size: 72px;"><%= @posts %></h2>
                                 <p>Bài viết</p>
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-3">
                           <div class="single_counter text-center">
                                 <h2 class="counter" style="font-size: 72px;"><%= @bills %></h2>
                                 <p>Đơn đặt phòng</p>
                           </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="padding:100px;">
            <h2 style="text-align: center;font-family: 'Anton';font-size: 45px;">THÀNH VIÊN SÁNG LẬP</h2>
            <h4 style="text-align: center;color:#dfdfdf;">KHÔNG CÓ VIỆC GÌ KHÓ NẾU TA LÀM CÙNG NHAU</h4>
            <div class="line"></div><br>
            <div class="row text-center slideanim">
              <div class="col-sm-3">
                <div class="thumbnail">
                  <img src="../image/12a2dh1-543.jpg" class="avat"><br>
                  <h3><b>CẨM HUYỀN</b></h3>
                  <h5><b>Trưởng nhóm</b></h5><br>
                  <p style="padding-top: 10px;">Quản trị viên website</p>
                  <p>Đóng góp nhiều cho dự án</p><br>
                  <p style="padding-top: 10px;">Email:<br> <a><b>ntchuyen.19it1@vku.udn.vn</b></a></p>
                  <div style="padding-top: 10px;"><span class="lk"><i class="fab fa-twitter"><a href=""></a></i></span>
                  <span class="lk"><i class="fab fa-facebook"><a href="#"></a></i></span>
                  <span class="lk"><i class="fab fa-instagram"><a href=""></a></i></span>
                  <span class="lk"><i class=" fab fa-dribbble"><a href=""></a></i></span></div>
                  <br>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumbnail">
                  <img src="../image/128078826_402437887567604_8472730812473317076_n.jpg" class="avat"><br>
                  <h3><b>THANH PHONG</b></h3>
                  <h5><b>Thành viên nhóm</b></h5><br>
                  <p style="padding-top: 10px;">Hoàn thiện dự án</p>
                  <p>Hỗ trợ thiết kế và xây dựng website</p><br>
                  <p style="padding-top: 10px;">Email:<br> <a><b>htphong.19it1@vku.udn.vn</b></a></p>
                  <div style="padding-top: 10px;"><span class="lk"><i class="fab fa-twitter"><a href=""></a></i></span>
                  <span class="lk"><i class="fab fa-facebook"><a href="#"></a></i></span>
                  <span class="lk"><i class="fab fa-instagram"><a href=""></a></i></span>
                  <span class="lk"><i class=" fab fa-dribbble"><a href=""></a></i></span></div>
                  <br>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumbnail">
                  <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-9/100655263_735464597191155_5615186710318022656_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=ht_PVpNY9HUAX-96-0l&_nc_ht=scontent-hkg4-2.xx&oh=9ffb16ce1f3ce7ab559e20f2d5768072&oe=60B24570" class="avat"><br>
                  <h3><b>VĂN AN</b></h3>
                  <h5><b> Thành viên nhóm</b></h5><br>
                  <p style="padding-top: 10px;">Hoàn thiện dự án</p>
                  <p>Góp phần xây dựng dự án</p><br>
                  <p style="padding-top: 10px;">Email:<br> <a><b>nvan.19it1@vku.udn.vn</b></a></p>
                  <div style="padding-top: 10px;"><span class="lk"><i class="fab fa-twitter"><a href=""></a></i></span>
                  <span class="lk"><i class="fab fa-facebook"><a href="#"></a></i></span>
                  <span class="lk"><i class="fab fa-instagram"><a href=""></a></i></span>
                  <span class="lk"><i class=" fab fa-dribbble"><a href=""></a></i></span></div>
                  <br>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumbnail">
                  <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/125184380_699242857399916_6115385928721225188_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=ae9488&_nc_ohc=0rd7Bk-4g4gAX8P-4Kw&_nc_ht=scontent-hkg4-1.xx&oh=972054d408ba1ba945d07c26097ba9bd&oe=60B334D6" class="avat"><br>
                  <h3><b>QUANG CHUNG</b></h3>
                  <h5><b> Thành viên nhóm</b></h5><br>
                  <p style="padding-top: 10px;">Hoàn thiện dự án</p>
                  <p>Góp phần xây dựng dự án</p><br>
                  <p style="padding-top: 10px;">Email:<br> <a><b>nqchung.19it1@vku.udn.vn</b></a></p>
                  <div style="padding-top: 10px;"><span class="lk"><i class="fab fa-twitter"><a href=""></a></i></span>
                  <span class="lk"><i class="fab fa-facebook"><a href="#"></a></i></span>
                  <span class="lk"><i class="fab fa-instagram"><a href=""></a></i></span>
                  <span class="lk"><i class=" fab fa-dribbble"><a href=""></a></i></span></div>
                  <br>
                </div>
              </div>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.counter').counterUp({
          delay: 10,
          time: 10000
        });
      })
    </script>
</body>
</html>
