<% if !session[:user] || session[:user]['role'].to_i != 3 %>
    <script type="text/javascript">
        window.location.href="/"
    </script>
<% end %>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Hotel</title>
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">

    <!-- Custom styles for this template -->
    <link href="/Css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/DataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<style>
    
.tb {
  position: absolute;
    top: 10px;
    right: 51px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-right: 2px;
    color: white;
    background: red;
    border-radius: 50%;
    font-size: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

    <% if session[:user] %>
        <body><ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion fixed-top" id="accordionSidebar" style="width: 100vw; /* viewport width */
                height: 100vh; /* viewport height */
                overflow-y: scroll;
                overflow-x: hidden;">>

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Hello</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                        aria-expanded="true" aria-controls="collapsePages">
                        <span><img style="width: 35px;height: 35px;border-radius: 50%;margin-right:7px;border:2px solid white;"
                        src="/<%= session[:user]['image'] %>"><b><%= session[:user]['name'] %></b></span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Thông tin:</h6>
                            <a class="collapse-item" target="_blank" href="/profile">Hồ sơ</a>
                            <a class="collapse-item" href="#">Đổi mật khẩu</a>
                            <!-- <a class="collapse-item" href="forgot-password.html">Forgot Password</a> -->
                            <div class="collapse-divider"></div>
                            <h6 class="collapse-header">Thoát:</h6>
                            <a class="collapse-item" href="/logout">Đăng xuất</a>
                        </div>
                    </div>
                </li>
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Trang chủ</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Chúng tôi
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-hotel"></i>
                        <span>Khách sạn</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Chi tiết:</h6>
                            <a class="collapse-item" href="/hotel/review">Giới thiệu</a>
                            <a class="collapse-item" href="#">Hình ảnh</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                        aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-file-alt"></i>
                        <span>Dịch vụ phòng</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Quản lý:</h6>
                            <a class="collapse-item" href="/hotel/rooms">Xem danh sách</a>
                            <a class="collapse-item" href="/hotel/room/new">Thêm phòng mới</a>
                            <a class="collapse-item" href="#">Cập nhật hình ảnh</a>
                            <a class="collapse-item" href="#">Khác</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Chăm sóc Khách hàng
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1"
                        aria-expanded="true" aria-controls="collapsePages1">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                    <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Chung:</h6>
                            <a class="collapse-item" href="/hotel/order">Danh sách đơn hàng</a>
                            <!-- <a class="collapse-item" href="forgot-password.html">Forgot Password</a> -->
                            <div class="collapse-divider"></div>
                            <h6 class="collapse-header">Theo trạng thái:</h6>
                            <a class="collapse-item" href="/hotel/order/status/2">Đặt thành công</a>
                            <a class="collapse-item" href="/hotel/order/status/3">Đã nhận phòng</a>
                            <a class="collapse-item" href="/hotel/order/status/4">Đã trả phòng</a>
                            <a class="collapse-item" href="/hotel/order/status/6">Đơn đã hủy</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/order/confirm" style="position: relative;">
                        <i class="fas fa-check-circle"></i>
                        <span>Xác nhận đơn hàng</span>
                        <span class='tb' >
                            <%= Bill.where('hotel = ' + @hotel.id.to_s).where('status = 1 or status = 5').all.length %>
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagess"
                        aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Cập nhật đơn hàng</span>
                    </a>
                    <div id="collapsePagess" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Chung:</h6>
                            <a class="collapse-item" href="/hotel/order/update/1">Tất cả đơn</a>
                            <!-- <a class="collapse-item" href="forgot-password.html">Forgot Password</a> -->
                            <div class="collapse-divider"></div>
                            <h6 class="collapse-header">Theo trạng thái:</h6>
                            <a class="collapse-item" href="/hotel/order/update/2">Đã xác nhận</a>
                            <a class="collapse-item" href="/hotel/order/update/3">Đã nhận phòng</a>
                            <a class="collapse-item" href="/hotel/order/update/4">Đã trả phòng</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact" target="_blank">
                        <i class="fas fa-headset"></i>
                        <span>Tư vấn</span></a>
                </li>
                <hr class="sidebar-divider d-none d-md-block">
                <!-- Nav Item - Charts -->
            
                <div class="sidebar-heading">
                    Khác
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/new" target="_blank">
                        <i class="fas fa-file-signature"></i>
                        <span>Đăng bài viết</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/chart">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Thống kê</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn có thật sự muốn?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Chọn "Đăng xuất" để thoát khỏi tài khoản</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-primary" href="../Model/logout.php">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="container-fuild" style="margin-left: 16%; margin-top: 12px;">
                <%= yield %>
            </div>
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="/js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/js/demo/datatables-demo.js"></script>
            <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('.image-hotel').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }
            </script>
        </body>
    <% end %>
</html>